shamefully-hoist=true
//pkgs.dev.azure.com/Ascentware/Dev-Global/_packaging/ascentware-platform-packages/npm/registry/:username=Ascentware
//pkgs.dev.azure.com/Ascentware/Dev-Global/_packaging/ascentware-platform-packages/npm/registry/:_password=MkxMSGxqS0lqSXBtQjZnWlRId3lxZnFYOXJaQ1FxcVNlT3ZLTmU2UHdEYm1HVDRKQTVtOEpRUUo5OUNIQUNBQUFBQTRtd1JSQUFBU0FaRE9Pb2hH
//pkgs.dev.azure.com/Ascentware/Dev-Global/_packaging/ascentware-platform-packages/npm/registry/:email=npm
//pkgs.dev.azure.com/Ascentware/Dev-Global/_packaging/ascentware-platform-packages/npm/registry/:always-auth=true
registry=https://pkgs.dev.azure.com/Ascentware/Dev-Global/_packaging/ascentware-platform-packages/npm/registry/ 
always-auth=true
 